.hero-header
    background-color: $black-65
    //border-right: 1px solid $black-20
    //box-shadow: 0px 0px 10px -2px $black-90
    height: 100%
    position: fixed
    width: 180px

    .header-navigation

        .header-list
            display: block
            padding: 0

            .header-list--item
                display: block

                .header-list--item__link
                    display: block
                    font-size: 1.6rem
                    padding: 20px 30px
                    transition: all 0.2s

                    &:hover
                        background-color: $black-75
                        color: $baseColorLight

                    &.active
                        background-color: $baseColorLight
                        color: $black-05



                div
                    font-size: 1.4rem

                    &:hover
                        cursor: pointer

                &.active
                    color: $baseColorLight

    .header-logo
        display: block
        padding: 20px 30px

        .header-logo--link
            font-family: "Rockwell"
            font-size: 3.8rem
            transition: all 0.2s


            &:hover,
            &.active
                color: $baseColorLight
