@media screen and (max-width: 567px)
    html
        font-size: 6px

@media screen and (min-width: 568px) and (max-width: 767px)

    html
        font-size: 7px

@media screen and (min-width: 768px) and (max-width: 1023px)
    html
        font-size: 8px

@media screen and (min-width: 1024px) and (max-width: 1279px)
    html
        font-size: 9px

@media screen and (min-width: 1280px)
    html
        font-size: 10px

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.p,
a
    letter-spacing: 0

.h1
    font-family: "Ostrich sans rounded"
    font-size: 6.4rem

.h2
    font-family: "Ostrich sans rounded"
    font-size: 5rem

.h3
    font-family: "Ostrich sans rounded"
    font-size: 3.8rem

.h4
    font-family: "Roboto Regular"
    font-size: 2.6rem

.h5
    font-family: "Roboto regular"
    font-size: 1.6rem

.h6
    font-family: "Roboto regular"
    font-size: 1.4rem

a
    font-family: "Roboto regular"
    font-size: 1.4rem

.color-green
    color: $appleGreen

.color-blue
    color: $baseColorLight !important

.color-red
    color: $appleRed

.color-yellow
    color: $appleYellow
