            <!-- views/partials/footer.ejs -->
            <footer class="mdl-mini-footer">
                <div class="mdl-mini-footer__left-section">
                    <div class="mdl-logo">Project idea creator: Ali Cerrahoglu (ali404). MIT licence</div>
                </div>
            </footer>
        </div>
    </main>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/javascript/build/production.js"></script>
</body>
</html>
