    <!-- views/partials/footer.ejs -->
<script src="/socket.io/socket.io.js"></script>
<script src="/scripts/build/production.lib.js"></script>
<script src="/scripts/build/production.js"></script>
<script src="/scripts/build/app.js"></script>
</body>
</html>
