<!doctype html>
<html>
<head>
    <title>Awesome Calculator</title>
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.indigo-pink.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="../css/calculator.css" rel="stylesheet">
	<meta http-equiv="Content-Type" content="text/html charset=utf-8">
</head>
