    <div style="display: none" id="user-details"></div>
    <!-- views/partials/header.ejs -->
    <div class="hero-header">
        <header class="pure-menu pure-menu-horizontal pure-g">
            <!-- Title -->
            <span class="header-logo">
                <a href="../" class="color-black--05 pure-menu-link">Fx</a>
            </span>
            <!-- Navigation -->
            <nav class="header-navigation">
                <ul class="pure-menu-list">
                    <li class="pure-menu-item">
                        <a class="pure-menu-link header-navigation--link color-black--20" href="/signup">Signup</a>
                    </li>
                    <li class="pure-menu-item">
                        <a class="pure-menu-link header-navigation--link color-black--20" href="/login">Login</a>
                    </li>
                    <li class="pure-menu-item">
                        <a class="pure-menu-link header-navigation--link color-black--20" href="/logout">Logout</a>
                    </li>
                    <li class="pure-menu-item">
                        <a class="pure-menu-link header-navigation--link color-black--20" href="/profile">Profile</a>
                    </li>
                    <li class="pure-menu-item">
                        <a class="pure-menu-link header-navigation--link color-black--20" href="/functions">Functions</a>
                    </li>
                <!--
                    <li class="pure-menu-item">
                        <a class="pure-menu-link header-navigation--link color-black--20" href="/notification">
                            <i class="material-icons md-light">account_circle</i>
                        </a>
                    </li>
                    <li class="pure-menu-item">
                        <a class="pure-menu-link header-navigation--link color-black--20" href="/notification">
                            <i class="material-icons md-light">question_answer</i>
                        </a>
                    </li>
                -->
                </ul>
            </nav>
        </header>
        <div class="below-header">
