.pure-u-center
    margin-left: auto
    margin-right: auto
    text-align: center

main
    margin-top: 56px
    padding-top: 60px
    transition: all 0.2s ease


.nav-expanded
    .header-navigation
        transform: translateX(0)
    .hero-header--switch
        background-color: rgba(0,0,0,.15)
    //
    // main
    //     margin-left: 240px

@media screen and (max-width: 800px)
    .nav-expanded
        main
            margin-top: 240px


@media screen and (min-width: 800px) and (max-width: 1200px)
    .nav-expanded
        .calculator
            margin-top: 180px

.nav-collapsed
    .header-navigation
        transform: translateX(-242px)

.grid
    margin-right: auto
    margin-left: auto
    width: auto

    &:before,
    &:after
        display: table
        content: " "
        box-sizing: border-box

    &:after
        clear: both

.grid-narrow
    width: 40%
    max-width: 400px
    margin-left: auto
    margin-right: auto

    @media screen and (max-width: 800px)
        width: 60%

.grid-wide
    display: inline-block
    margin-left: auto
    margin-right: auto


.grid.calculator
    text-align: center
