<% include ../views/partials/head.ejs %>
<body>
    <% include ../views/partials/header.ejs %>
        <!--
            <div class="hero-title pure-g">
                <h1 class="h1 color-base--light">Calculate, with functions</h1>
            </div>
        -->
            <div id="hello-world"></div>
            <div class="pure-g" style="margin-top:160px">
                <div class="pure-u-16-24">
                    <div class="hero-calculator--input">
                        <div class="hero-calculator--input__query" id="input" contenteditable="true"></div>
                        <div class="hero-calculator--input__result" id="input-rez"></div>
                    </div>
                    <div class="hero-calculator--buttons">
                        <div class="hero-calculator--buttons__main">
                            <div class="hero-calculator--buttons__row-small">
                                <div class="main-btn " id="terminate">DEL</div>
                                <div class="sec-btn normal">(</div>
                                <div class="sec-btn normal">)</div>
                                <div class="sec-btn normal">,</div>
                                <div class="sec-btn double">&#8730;</div>
                                <div class="sec-btn normal">&#x3C0;</div>
                            </div>
                            <div class="hero-calculator--buttons__row">
                                <div class="main-btn normal">1</div>
                                <div class="main-btn normal">4</div>
                                <div class="main-btn normal">7</div>
                                <div class="main-btn normal">.</div>
                            </div>
                            <div class="hero-calculator--buttons__row">
                                <div class="main-btn normal">2</div>
                                <div class="main-btn normal">5</div>
                                <div class="main-btn normal">8</div>
                                <div class="main-btn normal">0</div>
                            </div>
                            <div class="hero-calculator--buttons__row">
                                <div class="main-btn normal">3</div>
                                <div class="main-btn normal">5</div>
                                <div class="main-btn normal">9</div>
                                <div class="main-btn" id="end-calc">=</div>
                            </div>
                            <div class="hero-calculator--buttons__row">
                                <div class="main-btn normal" id="multiply">x</div>
                                <div class="main-btn normal" id="divide">&#247;</div>
                                <div class="main-btn normal" id="substract">-</div>
                                <div class="main-btn normal" id="add">+</div>
                            </div>
                            <div class="hero-calculator--buttons__column">
                                <div class="sec-btn normal">e</div>
                                <div class="sec-btn double">sin</div>
                                <div class="sec-btn double">cos</div>
                                <div class="sec-btn double">tan</div>
                                <div class="sec-btn double">log</div>
                                <div class="sec-btn double">ln</div>
                            </div>
                        </div>
                        <div class="hero-calculator--buttons__secondary">

                        </div>
                    </div>
                </div>
                <div class="pure-u-1-24">
                    <br>
                </div>
                <div class="pure-u-7-24">
                    <div class="hero-calculator--form">
                        <div class="hero-calculator--form__container">
                            <div class="hero-calculator--form__name h5" id="func-name" contenteditable="true">function name</div>
                            <div class="hero-calculator--form__body h5" id="func-code" contenteditable="true">function code</div>
                        </div>
                        <button class="hero-calculator--form__submit h5" id="func-btn">add function</button>
                    </div>
                </div>
            </div>
            <div class="" style="display:none">
                <input type="text" class="" contenteditable="true" id="username" name="username">
                <label class="" for="username">Number of decimals...</label>
            </div>
        </div>
    </div>
    <% include ../views/partials/footer.ejs %>
