<% include ../views/partials/head.ejs %>
<% include ../views/partials/header.ejs %>
<% functions.forEach(function(func){ %>
    <h3><%= func.name %></h3>
    <p><%= func.originalAuthor %></p>
    <p><%= func.body %></p>
    <p><%= func.stars %></p>
    <hr>
<% }) %>
<% include ../views/partials/footer.ejs %>
