<% include ../views/partials/head.ejs %>
<body>
<% include ../views/partials/header.ejs %>
<% if( message.length > 0 ) { %>
    <p><%= message %></p>
<% } %>
<form action="/login" method="post">
    <input type="text" name="username" id="username">
    <label class="mdl-textfield__label" for="username">Username...</label>
    <input type="password" name="password" id="username">
    <label class="mdl-textfield__label" for="password">Password...</label>
    <input type="submit" value="Sign up">
</form>
<% include ../views/partials/footer.ejs %>
