<html>
    <head>
        <title>Awesome Calculator</title>
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="../styles/build/production.min.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div id="calculator-on-steroids"></div>

        <script src="/socket.io/socket.io.js"></script>
        <script src="/scripts/build/production.js"></script>
    </body>
</html>
