<% include ../views/partials/head.ejs %>
<body>
<% include ../views/partials/header.ejs %>
<% if( message.length > 0 ) { %>
    <p><%= message %></p>
<% } %>
<div class="pure-g hero-form">
    <div class="pure-u-12-24 pure-u-center">
        <div class="pure-u-18-24">
            <div class="hero-form--title">
                <h1 class="h2">Signup</h1>
            </div>
            <form action="/login" method="post">
                <div class="">
                    <div class="">
                        <div class="">
                            <input class="form-input h5" type="text" id="username" name="username" placeholder="Username...">
                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="">
                        <div class="">
                            <input class="form-input h5" type="password" id="password" name="password" placeholder="Password...">
                        </div>
                    </div>
                </div>
                <div>
                    <input type="submit" value="Sign up" class="form-submit h5">
                </div>
            </form>
        </div>
    </div>
</div>
</div>
<% include ../views/partials/footer.ejs %>
