.calculator
    margin-top: 160px

.hero-title
    margin-bottom: 100px
    margin-top: 60px

.hero-calculator--form__container
    margin-bottom: 40px
    width: 100%

    .hero-calculator--form__name
        background-color: $black-80
        border-color: 0px solid transparent
        color: $black-20
        padding: 16px
        width: 100%

        &:focus
            outline: none

    .hero-calculator--form__body
        background-color: $black-75
        border: 0px solid transparent
        color: $black-20
        height: 180px
        padding: 16px
        width: 100%

        &:focus
            outline: none

.hero-calculator--form__submit
    background-color: $baseColorLight
    border-width: 0
    box-shadow: 0px 2px 4px rgba(0,0,0,0.5)
    color: $black-20
    padding: 15px 20px
    width: 60%

    &:hover
        cursor: pointer

.hero-calculator--input
    background-color: $black-65
    box-sizing: border-box
    height: 180px
    position: relative
    padding: 40px 30px
    width: 330px

    .apple-buttons
        position: absolute
        top: 10px
        left: 10px

        .apple-buttons--red,
        .apple-buttons--yellow,
        .apple-buttons--green
            border-radius: 9px
            float: left
            height: 9px
            margin-right: 4px
            width: 9px

        .apple-buttons--red
            background-color: $appleRed

        .apple-buttons--yellow
            background-color: $appleYellow

        .apple-buttons--green
            background-color: $appleGreen



    .hero-calculator--input__query
        background-color: transparent
        border: 0px transparent
        color: $black-50
        font-family: "District pro thin"
        font-size: 1.8rem
        text-align: right
        width: 100%

        &:focus
            outline: none

    .hero-calculator--input__result
        color: $black-20
        height: 80%
        font-size: 6rem
        font-family: "District pro thin"
        text-align: right

.hero-calculator--buttons
    height: 330px
    position: relative


    .hero-calculator--buttons__main
        background-color: $black-65
        border-top: 1px solid $black-75
        box-sizing: border-box
        display: flex
        float: left
        flex-wrap: wrap
        height: 100%
        padding: 33px 17px 20px
        width: 330px

        .hero-calculator--buttons__row,
        .hero-calculator--buttons__row-small
            align-items: center
            display: flex
            flex-direction: column
            justify-content: space-around
            width: 20%

        .hero-calculator--buttons__row
            height: 80%
            align-self: flex-end

            .main-btn
                color: $black-20
                font-size: 2.4rem



        .hero-calculator--buttons__row-small
            height: 85%

            .main-btn,
            .sec-btn
                color: $black-50
                font-size: 1.6rem

        .hero-calculator--buttons__column
            align-items: center
            display: flex
            height: 15%
            justify-content: space-around
            padding: 0 0 0 15px
            width: 100%

            .sec-btn
                color: $black-50
                font-size: 1.4rem



    .hero-calculator--buttons__secondary
        background-color: $black-75
        display: none
        float: left
        height: 100%
        width: 30%


.main-btn,
.sec-btn
    font-family: "District pro thin"
    font-size: 2rem
    color: $black-20
