.hero-title
    margin-bottom: 100px

.hero-calculator--form__container
    box-shadow: 0px 2px 4px rgba(0,0,0, .50)
    border-radius: 2px
    margin-bottom: 40px
    width: 100%

    .hero-calculator--form__name
        background-color: $black-80
        color: $black-20
        padding: 20px

        &:focus
            outline: none

    .hero-calculator--form__body
        background-color: $black-70
        color: $black-20
        height: 210px
        padding: 20px

        &:focus
            outline: none

.hero-calculator--form__submit
    background-color: $black-80
    border-width: 0
    box-shadow: 0px 2px 4px rgba(0,0,0,0.5)
    color: $black-20
    padding: 15px 20px

.hero-calculator--input
    position: relative
    width: 75%

    .hero-calculator--input__query
        border-bottom: 4px solid $baseColorLight
        color: $black-05
        font-family: "Ostrich sans rounded"
        font-size: 5rem
        padding: 0px 0px 20px 10px

        &:focus
            outline: none

    .hero-calculator--input__result
        position: absolute
