.calculator
    //margin-top: 160px

.hero-title
    margin-bottom: 100px
    margin-top: 60px

.hero-calculator--form__container
    margin-bottom: 40px
    width: 100%

    .hero-calculator--form__name
        background-color: $black-80
        border-color: 0px solid transparent
        color: $black-20
        padding: 16px
        width: 100%

        &:focus
            outline: none

    .hero-calculator--form__body
        background-color: $black-75
        border: 0px solid transparent
        color: $black-20
        height: 180px
        padding: 16px
        width: 100%

        &:focus
            outline: none

.hero-calculator--form__submit
    background-color: $baseColorLight
    border-width: 0
    box-shadow: 0px 2px 4px rgba(0,0,0,0.5)
    color: $black-20
    padding: 15px 20px
    width: 60%

    &:hover
        cursor: pointer

.hero-calculator
    background-color: #fff
    box-shadow: 0px 0px 20px -2px $black-50
    position: relative
    transition: all cubic-bezier(.63,.4,.15,.88) 0.5s
    z-index: 0

    &.large
        width: 100%

        .hero-calculator--buttons__main
            border-left: 1px solid $black-20

    &.small
        width: 350px

.hero-calculator--input
    box-sizing: border-box
    height: 220px
    position: relative
    padding: 70px 50px 30px

    .apple-buttons
        position: absolute
        top: 10px
        left: 10px

        .apple-buttons--red,
        .apple-buttons--yellow,
        .apple-buttons--green
            border-radius: 9px
            float: left
            height: 9px
            margin-right: 4px
            width: 9px

        .apple-buttons--red
            background-color: $appleRed

        .apple-buttons--yellow
            background-color: $appleYellow

        .apple-buttons--green
            background-color: $appleGreen

            &:hover
                cursor: pointer



    .hero-calculator--input__query
        background-color: transparent
        border: 0px transparent
        color: $black-50
        font-family: "District pro thin"
        font-size: 2rem
        text-align: right
        width: 100%

        &:focus
            outline: none

    .hero-calculator--input__result
        color: $black-75
        height: 80%
        font-size: 6rem
        font-family: "District pro thin"
        text-align: right

.hero-calculator--buttons
    border-top: 1px solid $black-20
    height: 380px
    position: relative
    z-index: 0


    .hero-calculator--buttons__main
        background-color: #fff
        box-sizing: border-box
        display: flex
        float: right
        flex-wrap: wrap
        height: 100%
        padding: 33px 20px 20px
        position: relative
        transition: border-left 0.1s
        width: 350px
        z-index: 2

        .hero-calculator--buttons__column
            align-items: center
            display: flex
            height: 15%
            justify-content: space-around
            padding: 0 0 0 15px
            width: 100%



    .hero-calculator--buttons__secondary
        bottom: 0
        box-sizing: border-box
        height: 100%
        width: 250px
        padding: 20px
        position: absolute
        left: 0
        transition: all cubic-bezier(.63,.4,.15,.88) 0.5s
        z-index: 1

        &:hover
            right: -175px

        .sec-btn
            width: 33%
            float: left
            text-align: center
            font-size: 2.1rem
            margin-bottom: 40px


.main-btn,
.sec-btn
    font-family: "District pro thin"
    font-size: 2.4rem
    color: $black-65


.separator
    //border-bottom: 1px solid $black-20
    width: 100%

    &::after,
    &::before
        content: " "
        display: table
        box-sizing: border-box
