html
    height: 100%

    body
        min-height: 100%

.pure-g
    margin-right: auto
    margin-left: auto
    max-width: 1200px

.pure-menu-link
    padding: 0
    transition: color 0.2s
    
    &:hover
        background-color: transparent
        color: $baseColorLight


a
    text-decoration: none
