.hero-form
    margin-top: 60px

.hero-form--title
    color: $baseColorLight
    margin-bottom: 80px

.form-input
    border: none
    border-bottom: 4px solid $black-80
    background-color: transparent
    color: $black-20
    font-family: "Roboto light"
    transition: border-bottom 0.2s
    padding: 0px 0px 20px 10px
    margin-bottom: 60px
    width: 100%


    &:focus
        outline: none
        border-bottom-color: $baseColorLight

.form-submit
    background-color: $black-80
    border-width: 0
    box-shadow: 0px 2px 4px rgba(0,0,0,0.5)
    color: $black-20
    padding: 15px 20px
    position: relative
    transition: all 0.2s
